/* Ensure elements load hidden before ScrollReveal runs */
.sr .scrollreveal, .sr .page-contenu .hentry > * { visibility: hidden; }

.type-page a {
  font-weight: 600;
  transition: all 300ms ease;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.wrap {
  background-color: $light-gray;
  background-image:
    linear-gradient(
      to right,
      $white, $light-gray
    );
}

.main p {
  @include breakpoint(large) {
    text-align: justify;
  }
}

// images loading
img.loading {
  position: relative;
  display: inline-block;

  &:before {
    background: $light-gray;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 500ms linear;
    @include position;
  }

  &.loaded {
    &:before {
      opacity: 0;
    }
  }
}

.section {
  @include section-base;

  &:not(:first-child) {

    &:nth-child(odd) {
      //background-color: $body-background;
      @include section-triangle;
    }

    &:nth-child(even) {
      background-color: rgba($light-gray, 1);
      @include section-triangle($body-background);

      &:after {
        background: url(../images/bg.svg), linear-gradient(to bottom, transparent 25%, darken($light-gray, 25%) 90%);
        background-image: url(../images/bg.svg);
        background-size: cover;
        bottom: 0;
        content: '';
        left: 0;
        opacity: .2;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }
    }

    &:nth-child(2) {
      @include section-triangle($body-background);
    }
  }

  &.draw {

    &:not(:first-child) {

      &:after {
        background-image: url("../images/bg-draw.png");
        background-repeat: repeat;
        background-size: auto;
        opacity: 1;
      }
    }
  }
}

%alternate {
  @include flex-align(justify, middle);
  @include flex-grid-row;

  &-column {
    @include flex-grid-column(12);
    @include breakpoint(medium) {
      @include flex-grid-column(6);
    }

    &--only {
       @include breakpoint(medium) {
        @include flex-grid-column(8);
      }
    }
  }
}

.sidebar-primary .container {
  padding: $global-padding 0;
}

.textcolor {
  color: $primary-color;
}

.page--title {
  font-size: 2rem;
  font-weight: 600;
}

.section--title {
  align-items: center;
  color: map-get($foundation-palette, secondary);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  span {
    display: block;
    padding: 1em;
    width: auto;
  }

  &:before, &:after {
    background: currentColor;
    content: '';
    display: block;
    flex: 1;
    height: 2px;
  }
}

.chevron {
  border: solid 4px $light-gray;
  border-left: none;
  border-top: none;
  content: '';
  display: inline-block;
  height: 2rem;
  transform: rotate(-45deg);
  width: 2rem;
}