@mixin position($top: 0, $right: auto, $bottom: auto, $left: 0) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin section-base($background: $white) {
  $padding: $global-padding * 2;
  background-color: $background;
  padding: $padding 0;
  position: relative;
  z-index: 1;

  > div {
    position: relative;
    z-index: 1;
  }
}

@mixin section-wrapper($direction: left) {
  $margin: $global-padding;

  @include grid-row;

  .section-content,
  .section-thumbnail,
  .section-video,
  .section-title {
    @include grid-column;
  }

  @include breakpoint(medium) {
    .section-content,
    .section-thumbnail,
    .section-video {
      @include grid-column-size(6);
    }

    .full {
      @include grid-column-size(8);
      @include grid-column-position(center);
    }
  }

  @if $direction == right {
    .section-thumbnail,
    .section-video {
      @include grid-column-position(6);
    }

    .section-content:not(.full) {
      @include grid-column-position(-6);
    }
  }

  .responsive-embed {
    @include responsive-embed(widescreen);
  }

  .section-thumbnail img {
    @include thumbnail;
  }
}

@mixin section-triangle($color: $light-gray) {
  $triangle-width: rem-calc(30);
  $triangle-height: rem-calc(24);

  &:before {
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: $triangle-height;
    top: 0;
    width: $triangle-width;
    z-index: 2;
    @include background-triangle($color);
    @include horizontal-center;
  }
}