$banner-height: rem-calc(200);
$banner-maintitle: rem-calc(36);

@mixin maintitle {
  font-size: $banner-maintitle;
  max-width: rem-calc(600);
  text-transform: uppercase;
}

.banner {
  align-items: center;
  background: url(../images/banner-bg.jpg) center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: $banner-height;
  position: relative;
  text-align: center;
  z-index: $global-zindex - 10;

  .page--title {
    position: relative;
    z-index: 99;
  }

  .home & {
    background-image: url(../images/banner-home.jpg);
    min-height: 450px;

    .page--title {
      @include maintitle;
    }
  }

  .page-template-page-feature & {
    min-height: 350px;

    &:before {
      background: rgba(#000, 0.4);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .page--title {
      @include maintitle;
    }
  }
}

.page-wrapper {
  padding-bottom: 2rem;
  padding-top: 2rem;
  @include grid-row();
}
.page-column {
  @include grid-col;
  @include breakpoint(large) {
    @include grid-col-size(8);

    &.sidebar {
      @include grid-col-size(4);
    }
  }
}

.soumenu > .page_item > a {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.soumenu, .children {
  @include menu-expand;
}

.children {
  @include menu-base;
  @include menu-direction(vertical);
}

.soumenu .current_page_item {
  @extend .active;
}
.soumenu {

  .current_page_ancestor > a, .current_page_item a {
    color: map-get($foundation-palette, primary-dark);
  }
}

.tutoriel--navigation--list {

  .active {
    background: $primary-color;
    color: $white;
  }
}

.contact--address {
  color: $primary-color;
}
.contact--phone {
  color: map-get($foundation-palette, primary-dark);
}

#map {
  height: 500px;
}

.section {

  &:nth-child(odd) {

    .section-wrapper {
      @include section-wrapper;
    }
  }

  &:nth-child(even) {

    .section-wrapper {
      @include section-wrapper(right);
    }
  }
}


.page-template-page-iframe {
  overflow: hidden;

  .page-header {
    min-height: $banner-height / 3;
  }

  .main {
    height: calc(100vh - #{$banner-height} / 3 - #{$headerHeight});
  }
}
