.menu {
  @extend .no-bullet;
}

@include breakpoint(large) {
  .menu-item {
    position: relative;
  }

  .main--navigation > .menu {

    margin: 0;
    padding: 0;

    @include flex;
  }

  .main--navigation > .menu > .menu-item {
    margin: 0;
    padding: 0;
    > a {
      border-right: 1px solid rgba(255, 255, 255, .9);
      color: $body-font-color;
      font-size: .9rem;
      padding: 1rem;
      position: relative;
      text-align: center;
      transition: background 0.3s;
      vertical-align: middle;
      @include breakpoint(medium) {
        display: table-cell;
        height: $headerHeight;
      }

      &:before {
        background: $primary-color;
        bottom: 0;
        color: $body-font-color;
        content: '';
        display: block;
        height: 0px;
        left: 0;
        position: absolute;
        transition: all 0.2s ease;
        width: 100%;
      }

      &:hover,
      &:focus,
      &.hover {
        background-color: #fff;

        &:before {
          height: 0.5rem;
        }
      }
    }

    &.active > a {
      background-color: #fff;

      &:before {
        height: 0.5rem;
      }
    }

    &.link-login {
      > a {
        color: $secondary-color;
        font-weight: bold;
        line-height: 1.6;

        > [class^="icon-"],
        > [class*="icon-"] {
          display: block;
          font-size: 1.2em;
          margin: auto;
          margin-top: -1em;
        }
      }
    }
  }
}

.menu .dropdown-pane {
  background: $dark-gray;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 1px rgba($dark-gray, .4);
  color: $white;
  transition: transform 200ms ease-in-out;
  z-index: $global-zindex + 20;

  &#menu-features,
   {
    width: $dropdown-width + 120px;

    .submenu {
      padding-left: 110px;

      > .menu-item:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &#menu-users,
   {
    width: $dropdown-width + 70px;

    .submenu {
      padding-left: 60px;

      > .menu-item:not(:last-child) {
        margin-bottom: 1rem;
      }

      a {
        color: $white;

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }
  }

  &#menu-login {
    padding: .5rem;
    width: 100%;

    .menu-item {
      margin-bottom: 1em;
      text-align: center;

      [class^="icon-"],
      [class*="icon-"] {
        color: $primary-color;
        font-size: 1.4rem;
      }

      a {
        display: block;
        font-size: .9rem;
      }
    }
  }

  &#menu-lg {
    left: auto !important;
    right: 0;
    width: 150px;
  }
}

.submenu,
.sub-menu {
  @extend .no-bullet;
  margin-bottom: 0;

  a {
    color: inherit;
    display: block;
    transition: color 300ms ease;

    &:hover,
    &:focus {
      color: $primary-color;
      outline: none;
      text-decoration: underline;
    }
  }
}

.submenu {
  > .menu-item {
    &:before {
      background: url(../images/pictos-menu.svg) no-repeat;
      background-position: 0 0;
      background-size: 100%;
      content: '';
      display: block;
      height: 100px;
      left: -110px;
      position: absolute;
      width: 100px;
      z-index: 50;
      @include vertical-center;

      #menu-users & {
        height: 60px;
        left: -65px;
        width: 60px;
      }
    }

    > a {
      color: $primary-color;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &.active > a {
      background: transparent;
      color: map-get($foundation-palette, primary-dark);
    }
  }

  .amenager {
    &:before {
      background-position: 0 -100px;
    }
  }

  .decorer {
    &:before {
      background-position: 0 -200px;
    }
  }

  .valoriser {
    &:before {
      background-position: 0 -300px;
    }
  }

  .architecte {
    &:before {
      background-position: 0 -240px;
    }
  }

  .batiment {
    &:before {
      background-position: 0 -300px;
    }
  }

  .promoteur {
    &:before {
      background-position: 0 -360px;
    }
  }

  .agent {
    &:before {
      background-position: 0 -420px;
    }
  }

  .paysagiste {
    &:before {
      background-position: 0 -480px;
    }
  }
}

.sub-menu > .active > a {
  background: transparent;
  color: map-get($foundation-palette, primary-dark);
}

.menu-lg > a {
  text-transform: uppercase;
  width: 50px;
}

.current-lang {
  font-weight: bold;
}
