$section-padding: rem-calc(50);
$section-lead-fontsize: rem-calc(24);
$section-button-fontsize: rem-calc(18);

.newsection {
  padding-bottom: $section-padding / 2;

  &-container {
    @include grid-column-row;
  }


  &-title {
    @include section-title;
  }

  &-lead {
    text-align: center;
    font-size: $section-lead-fontsize;
    margin-bottom: $section-padding;
  }

  &-wrapper {
    margin-bottom: $section-padding;
    @include flex-grid-row(nest);
    @include flex-align(left, middle);

    > * {
      @include flex-grid-column(12);
    }
  }

  &-thumbnail,
  &-content {
    @include breakpoint(large) {
      @include flex-grid-size(6)
    }
  }

  &-content {
    text-align: justify;
  }

  &-cta {
    text-align: center;
    margin-top: $global-padding;

    a {
      @include button;
      // size  & radius ajust
      border-radius: rem-calc(25);
      font-size: $section-button-fontsize;
      margin-bottom: 0;

    }
  }

  &:nth-child(even) {
    .newsection-thumbnail {
      order: 2;
    }
  }
}